body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

h1 {
  color: orange;
}
input {
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#message {
  margin-top: 20px;
  color: green;
  font-weight: bold;
}
